<form class="UserForm" method="post">
    <div class="UserForm__box">
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="firstName">First Name: </label>
            <input class="UserForm__box__item__input" type="text" id="firstName" name="firstName"/>
        </div>
    </div>
</form>
