{% extends 'base.html.twig' %}

{% block body %}
    <main class="MainCart">
        {% if cart is not null and cart.ProductList is not null%}



        {% else %}
        <p class="MainCart__empty">Shopping cart is Empty</p>
        {% endif %}
    </main>

{% endblock %}
