.Card {
  margin: 20px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item{
    margin:5px;
    background-color: #dddddd;
    width: 280px;
  }
  &__content{
    margin: 10px;
    text-align: center;
    &--img{
      width: 100%;
    }
    &.name{
      text-transform: capitalize;
    }
    &.price {
      font-size: 1.3rem;
    }

  }

}
