.Card {
  margin: 20px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: end;
  &__item{
    border: 1px solid #444;
    margin:5px;
    background-color: #dddddd;
    width: 280px;
  }
  &__content{
    margin: 10px;
    text-align: center;
    &__footer{
      display: flex;
      justify-content: space-between;
      &--btn{
        background-color: #68b199;
        cursor: pointer;
        padding: 5px;
        outline: none;
        border: 1px solid #666;
      }
    }
    &--out{
      color: red;
    }
    &--ending{
      color:saddlebrown;
    }
    &--stock{
      color:green;
    }
    &--stars{
      color: orangered;
    }
    &--ship{
      color: blue;
    }
    &--img{
      width: 100%;
    }
    &.name{
      text-transform: capitalize;
    }
    &.price {
      font-size: 1.3rem;
    }

  }

}
