.hide {
  display: none;
  visibility: hidden;
}
.OrderPlaced{
  margin: 100px auto 50px auto;
  max-width: 1200px;
  &__nav{
    margin: 10px 5px;
    display: flex;
    justify-content: space-between;
    &--btn{
      border-radius: 5px;
      border: 1px solid #888;
      text-decoration: none;
      font-size: 1.1rem;
      padding: 10px;
      background-color: #aaaaaa;
      color:#333;
      &:hover{
        background-color: #444;
        color: #ddd;
      }
    }
  }
  &__header{
    display: inline;
    text-align: center;
    margin: 10px 5px;
  }
  &__item{
    margin: 10px 5px;
    padding: 15px;
    background-color: #eee;
    font-size: 0.8rem;
    border-bottom: 1px solid #888;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__name{
      width: 100px;
    }
    &__qty{
      margin-left: 15px;
    }
  }
  &__total{
    border-top: 3px double black;
    padding: 10px;
    text-align: right;
    margin: 20px 5px;
    background-color: #aaa;
    color: #222;
    font-weight: bolder;
  }

}
