.MainCart {
  max-width: 1200px;
  margin: 120px auto 20px auto;
  &__empty{
    background-color: #99c699;
    border-radius: 5px;
    padding: 10px;
    max-width: 600px;
    margin:150px auto;
    text-align: center;
    font-size: 1.2rem;
  }
  &__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border-left:1px solid black;
    border-right:1px solid black;
    background-color: #eee;
    &__remove{
      margin: 10px;
      &--btn{
        cursor: pointer;
        padding: 5px;
      }
    }
    &__total{
      border-top: 3px double #444;
      margin: 10px;
      display: flex;
      background-color: #aaa;
      flex-direction: row-reverse;
      &--amount{
        color: #222;
        font-size: 1.1rem;
        font-weight: bolder;
        margin:20px;
      }
    }
    &__check{
      margin: 0 10px;
      cursor: pointer;
    }
    &__name{
      font-size: 0.8rem;
      width: 80px;
    }
    &__img{
      padding: 10px 5px;
      width:64px;
    }
    &__price{
      width:80px;
      font-size: 0.9rem;
    }
    &__qty{
      font-size: 0.9rem;
    }
    &__sum{
      font-size: 0.9rem;
    }

  }

}
.CartCheckout{
  margin:10px;
  display: flex;
  flex-direction: row-reverse;
  &__btn{
    color: #333;
    border-radius: 5px;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #aaa;
    background-color: #ddd;
    &:hover{
      background-color: #333;
      color:#ddd;
    }
  }
}
