* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.Nav {
    position:fixed;
    background-color: #222;
    color: #ddd;
    width: 100%;
    top: 0;
    border-bottom: 1px solid black;
    &__page{
        float:left;
        display: inline;
        text-transform: capitalize;
    }
    &__user{
        display: inline;
        float: right;
        text-transform: capitalize;
    }
    &__list{
        list-style: none;
        &__item{
            padding: 5px;
            border-bottom: 5px solid #222;
            &--link{
                cursor: pointer;
                font-size: 1.5rem;
                text-decoration: none;
                color: #ddd;
            }
        }
    }

}

.SubNavL {
    position:fixed;
    background-color: #222;
    border-radius: 0 0 10px 0;
    width: 50%;
    padding: 15px 0;
    &__list{
        list-style: none;
        &__item{
            padding: 10px;
            text-align: center;
            &--link{
                color: #ddd;
                text-decoration: none;
            }
        }
    }
}
.SubNavR {
    right:0;
    position:fixed;
    background-color: #222;
    border-radius: 0 0 0 10px;
    width: 50%;
    padding: 15px 0;
    &__list{
        list-style: none;
        &__item{
            padding: 10px;
            text-align: center;
            &--link{
                color: #ddd;
                text-decoration: none;
            }
        }
    }
}

.hide {
    display: none;
    visibility: hidden;
}
.active {
    border-bottom: 5px solid #777;
}
