{% extends 'base.html.twig' %}

{% block title %}PayPal{% endblock %}

{% block body %}
<main class="PayPal">
{% for object in links %}
    <p><a href="{{ object.href }}">{{ object.rel}} </a></p>
    {% endfor %}

</main>
{% endblock %}
