<nav class="Nav">
   <div class="Nav__page">
       <ul class="Nav__list">
           <li class="Nav__list__item">
               <a id="home" href="" class="Nav__list__item--link">
                   home
               </a>
           </li>
           {% for file in files %}
               <li class="Nav__list__item">
                   <a id="home" href="" class="Nav__list__item--link">
                       {{ file }}
                   </a>
               </li>
           {% endfor %}
       </ul>
   </div>
</nav>

