<nav id="menu" class="Nav">
   <div class="Nav__page">
       <ul id="pageMenu" class="Nav__list">
           <li id="home" class="Nav__list__item">
               <a class="Nav__list__item--link">
                   home
               </a>
           </li>
       </ul>
   </div>
    <div class="Nav__user">
        <ul id="userMenu" class="Nav__list">
            <li id="user" class="Nav__list__item">
                <a class="Nav__list__item--link">
                    user
                </a>
            </li>
        </ul>
    </div>
</nav>
<nav id="homeNav" class="hide">
    Home
</nav>
<nav id="userNav" class="hide">
    User
</nav>
