{# Top Menu #}
<nav id="menu" class="Nav">
   <div class="Nav__page">
       <ul id="pageMenu" class="Nav__list">
           <li id="home" class="Nav__list__item">
               <a class="Nav__list__item--link">
                   home
               </a>
           </li>
       </ul>
   </div>
    <div class="Nav__user">
        <ul id="userMenu" class="Nav__list">
            <li id="user" class="Nav__list__item">
                <a class="Nav__list__item--link">
                    user
                </a>
            </li>
        </ul>
    </div>
</nav>
{# Shopping Cart #}
<nav id="navCart" class="NavCart">
    <ul class="NavCart__list">
        <li class="NavCart__list__item">
            <i class="NavCart__list__item--link fas fa-shopping-basket"></i>

        </li>
        <div class="NavCart__list__item--amount">{{ number }}</div>
    </ul>

</nav>
{# Sub menu Left #}
<nav id="homeNav" class="SubNavL hide">
   <ul class="SubNavL__list">
       <li class="SubNavL__list__item">
           <a class="SubNavL__list__item--link" href="{{ path('app_homepage') }}">Homepage</a>
       </li>
   </ul>
</nav>
{# Sub menu Right #}
<nav id="userNav" class="SubNavR hide">
    <ul class="SubNavR__list">
        {% if app.user == null %}
        <li class="SubNavR__list__item">
            <a class="SubNavR__list__item--link" href="{{ path('app_login') }}">Login</a>
        </li>
        <li class="SubNavR__list__item">
            <a class="SubNavR__list__item--link" href="">Register</a>
        </li>
        {% else %}
            <li class="SubNavR__list__item">
                <a class="SubNavR__list__item--link" href="{{ path('app_logout') }}">Logout</a>
            </li>
        {% endif %}
    </ul>
</nav>


