<nav class="Nav">
   <div class="Nav__page">
       <ul class="Nav__list">
           <li class="Nav__list__item">
               <a href="" class="Nav__list__item--link">
                   home
               </a>
           </li>
       </ul>
   </div>
    <div class="Nav__user">
        <ul class="Nav__list">
            <li class="Nav__list__item">
                <a href="" class="Nav__list__item--link">
                    user
                </a>
            </li>
        </ul>
    </div>
</nav>
