
<nav id="menu" class="Nav">
   <div class="Nav__page">
       <ul id="pageMenu" class="Nav__list">
           <li id="home" class="Nav__list__item">
               <a class="Nav__list__item--link">
                   home
               </a>
           </li>
       </ul>
   </div>
    <div class="Nav__user">
        <ul id="userMenu" class="Nav__list">
            <li id="user" class="Nav__list__item">
                <a class="Nav__list__item--link">
                    user
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav id="homeNav" class="SubNavL hide">
   <ul class="SubNavL__list">
       <li class="SubNavL__list__item">
           <a class="SubNavL__list__item--link" href="">page 1</a>
       </li>
   </ul>
</nav>
<nav id="userNav" class="SubNavR hide">
    <ul class="SubNavR__list">
        <li class="SubNavR__list__item">
            <a class="SubNavR__list__item--link" href="">Login</a>
        </li>
        <li class="SubNavR__list__item">
            <a class="SubNavR__list__item--link" href="">Register</a>
        </li>
    </ul>
</nav>
<div style="clear: both;"></div>

